.btn
 font-size: 1.6rem
 font-weight: bold
 background-color: $color-green-light
 color: white
 text-transform: uppercase
 border: 0
 padding: 1.5rem 3rem
 &:hover
  background-color: $color-green-dark
  cursor: pointer
 